.avatar {
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-top: 0%;
  }

  .or {
    text-align: center;
    display: block;
    color: #a0a0a0;
    background: white;
    position: relative;
    margin: 5px 3rem 0px;
}

.orInner {
    background: white;
    display: inline-block;
    z-index: 4;
    position: relative;
    padding: 0 2em;
}
.invalid-text{
  font: smaller;
  font-family: Arial, Helvetica, sans-serif;
}