<div class="row" style="padding-top:3rem">
  <div class="col-sm-4 offset-sm-4">
    <div class="card text-center shadow-sm">
      <div class="card-header">
        <!-- <img src="../assets/login-avtar.png" style="padding: 0%" class="avatar" alt="avtar"> -->
        <label
          style="padding-left: 1rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic">
          Welcome to To Do list
        </label>
      </div>
      <!-- Creating  a card for Username and Password fieles -->
      <div class="card-body">
        <!-- To Do list input field -->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your to do here ..."
          name="toDoLabel" [(ngModel)]="label" #toDoLabel1=ngModel>
          <div class="input-group-append">
            <div class="input-group-text" ><i class="fas fa-plus-square" (click)="addTask(label)"></i></div>
          </div>
        </div>
        <div class="invalid-text text-danger" *ngIf="titleLable">
          <p> Input can't be blank </p>
        </div>
       <!-- Displaying Available To Do's -->
        <div class="row text-left mt-3" *ngFor="let data of toDoArray1 | async">
        <div class="col-md-8 offset-md-1">
        <div class="custom-checkbox">
          <input type="checkbox" class="custom-control-input" id={{data.task}}>
          <label class="custom-control-label" for={{data.task}}>
            {{data.task}}
          </label>
        </div>
        </div>
        <!-- Update and delete options for To Do's -->
        <div class="col-auto" *ngIf=!toggleDiv>
        <i class="fas fa-times" (click)="onDelete(data.id)"></i>
        </div>
        <div class="col-auto" *ngIf=toggleDiv>
            <input type="text" class="form-control" placeholder={{data.task}}
            name="changedLabel" [(ngModel)]="changedLabel" #changedLabel1=ngModel>
        </div>
        <div class="col-auto">
        <i class="fas fa-pen" (click)="onUpdate(data.id, data.task)" (dblclick)="toggleFunction()"></i>
        </div>
        </div> 
        <!-- End of To Do Display -->
      </div>
    </div>
  </div>
</div>