<div class="vh-100 vw-100">
  <div class="row" style="padding-top:3rem">
    <div class="col-md-4 offset-md-4 ">
      <div class="card text-center shadow-sm" style="width:25rem; height: 17rem;">
        <div class="card-header">
          <img src="../assets/login-avtar.png" style="padding: 0%" class="avatar" alt="avtar">
          <label
            style="padding-left: 1rem; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic">Todo
            Forgot Password</label>
        </div>
        <!-- Creating  a card for Username and Password fieles -->
        <div class="card-body text-center">

          <!-- Reset Password  input field -->
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
            </div>
            <input type="email" class="form-control text-center" placeholder="email" name="resetPassword"
              [(ngModel)]="resetPassword" #resetPassword1=ngModel required pattern="[^ @]*@[^ @]*">
          </div>
          <div class="invalid-text">
              <p *ngIf="resetPassword1.invalid && (resetPassword1.dirty || resetPassword1.touched)">Please enter email id </p>
            </div>
           
          <div class="align-items-center mt-4">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="resetPassword1.invalid"
              (click)="authService.forgotPassword(resetPassword)">
              Send
            </button>
          </div>
          <label style="padding-top:2rem"> <a [routerLink]="['/login']">Go Back to Login</a> </label>
        </div>
      </div>
    </div>
  </div>

</div>